/*======= Глобальный border-box ======*/
html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/*======= Обращение ко всей странице ======*/

* {
  text-decoration: none;
  list-style: none;
  font-family: Roboto;
  color: #212121;
}

.button-link,
.hero-button {
  outline: none;
}

a {
  display: block;
  outline: none;
  text-decoration: none;
}

address {
  font-style: normal;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
}

.link {
  text-decoration: none;
  display: block;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.feedback-mail,
.feedback-tel {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}

.conteiner {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.minor-title {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
}

/*====== Все ховеры и фокусы =======*/

.feedback-tel:hover,
.feedback-tel:focus,
.feedback-mail:hover,
.feedback-mail:focus,
.link-user-logo:hover,
.link-user-logo:focus,
.iten:focus,
.iten:hover,
.social-link:hover,
.social-link:focus {
  color: #2196f3;
}

/*====== Логотип ======*/

.my-logo-1 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #2196f3;
}

.my-logo-2 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #000000;
}

.my-logo-3 {
  font-family: Raleway;
  font-size: 26px;
  line-height: 1.19;
  color: #ffffff;
}
/*======== Кнопка =======*/

.hero-button {
  border: 1px solid transparent;
  border-radius: 4px;
  padding-top: 9px;
  padding-right: 31px;
  padding-bottom: 9px;
  padding-left: 31px;
  cursor: pointer;

  background: #188ce8;
  color: #ffffff;

  font-weight: bold;
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.06em;
}

/*====== Шапка ======*/

.logo {
  margin-right: 85px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.iten-studio,
.iten,
.iten-portfoli {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.header-list,
.iten-studio,
.iten-portfoli {
  color: #2196f3;
}

.feedback-tel,
.feedback-mail {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  font-style: normal;
  text-decoration: none;
  color: #757575;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.header-list {
  display: flex;
}

.header-list-link {
  margin-right: 50px;
}

.feedback-list-item {
  display: flex;
}

.feedback:not(:last-child) {
  margin-right: 50px;
}

.feedback {
  display: inline-flex;
  align-items: center;
}

.adress-icon {
  align-items: center;
}

/*===== Герой =====*/

.section-hero {
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  padding-top: 200px;
  padding-bottom: 200px;

  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/hero/Hero_img.jpg");
  /* background-image: linear-gradient
    (to right,rgba(47, 48, 58, 0.8)) */
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.hero {
  text-align: center;
}

.main-title {
  text-align: center;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.06em;
}

/*====== О Нас ======*/

.list-skills {
  display: flex;
}

.skill {
  width: 270px;
}

.skill::before {
  display: block;
  content: "";
  margin-bottom: 30px;
  width: 270px;
  height: 120px;

  background-size: 70px 70px;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
}

/* Иконки о нас */

.icon-antenna::before {
  background-image: url(../images/svg/icon-antenna.svg);
}

.icon-clock::before {
  background-image: url(../images/svg/icon-clock.svg);
}

.icon-planning::before {
  background-image: url(../images/svg/icon-planning.svg);
}

.icon-astronaut::before {
  background-image: url(../images/svg/icon-astronaut.svg);
}

.skill:not(:last-child) {
  margin-right: 30px;
}

.skill-name {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.19;
  text-transform: uppercase;
  font-weight: bold;
}
.skill-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}

/*========= Чем мы занимаемся ========*/

.section-lessons {
  text-align: center;
  padding-bottom: 94px;
  padding-left: 15px;
  padding-right: 15px;
}

.lesson-list {
  display: flex;
}

.lesson-list li:not(:last-child) {
  margin-right: 30px;
}

.minor-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
}

.lessons-list-link {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  font-weight: bold;
}

/*======= Наша команда =======*/

.team {
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 0px 0px 4px 4px;
  background-color: #ffffff;
}

.team-list-link {
  display: flex;
  justify-content: space-between;
}

.our-team {
  text-align: center;
  background: #f5f4fa;
}

.team img {
  margin-bottom: 30px;
}

.team-name {
  margin-bottom: 10px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.team-profession {
  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #757575;
}

/*========= Постоянные клиенты ==========*/

.clients {
}

.company-users-link {
  display: flex;
  justify-content: space-between;
}

.user-iten:hover,
.user-iten:focus {
  border: 1px solid #2196f3;
}

.user-iten {
  width: 170px;
  height: 90px;
  cursor: pointer;

  border: 1px solid #afb1b8;
  box-sizing: border-box;
  border-radius: 4px;
}

/*=========== Футер ============*/

.footer {
  background: #2f303a;
}

.wrapper-footer {
  display: flex;
  align-items: baseline;
  justify-content: space-between;

  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  margin-bottom: 20px;
}

.footer-address-links li:not(:last-child) {
  margin-bottom: 9px;
}

.link-map {
  font-style: normal;
  cursor: pointer;

  color: #ffffff;
}

.link-feedback {
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  cursor: pointer;

  color: rgba(255, 255, 255, 0.6);
}

.join {
  text-transform: uppercase;
  font-size: 14px;
  line-height: 1.14;

  color: #ffffff;
}

.subcribe {
  min-width: 570px;
}

/*===== Портфолио Меню ======*/

.main-menu {
  margin-bottom: 50px;
}

.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
}

.main-menu-list li:not(:last-child) {
  margin-right: 8px;
}

.main-menu-list {
  display: flex;
  justify-content: center;
}

.button-link {
  padding-top: 6px;
  padding-right: 22px;
  padding-bottom: 6px;
  padding-left: 22px;
  cursor: pointer;

  border: 1px solid transparent;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;

  background: #f5f4fa;
  border-radius: 4px;
}

.button-link:hover,
.button-link:focus {
  background: #2196f3;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
  color: #ffffff;
}

/*========= Галерея =========*/

.examples {
  display: flex;
  flex-wrap: wrap;
}

.img-project {
  margin-bottom: 20px;
}

.examples-link {
  width: 370px;

  border: 1px solid #eeeeee;
  box-sizing: border-box;
  overflow: hidden;
}

.examples-link:not(:nth-child(3n)) {
  margin-right: 30px;
}

.examples-link:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}

.examples-text-iten {
  margin-bottom: 4px;
  padding-left: 24px;
  padding-right: 24px;

  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-name {
  padding-left: 24px;
  padding-right: 24px;

  font-size: 16px;
  line-height: 1.88;
  color: #757575;
}

.examles-text {
  font-size: 18px;
  line-height: 1.56;
}

/* цвета логотипа #2196F3 / #000000 */
/* цвет кнопок и ховера #2196F3 */
/* первчиный текст #212121 */
/* вторичный текст #757575 */
/* цыет первичного фона #FFFFFF */
/* цвет вторичного фона #F5F4FA */
/* фон соц.сетей rgba(255, 255, 255, 0.1) */
/* первичный цвет текста футура rgba #FFFFFF */
/* вторичный цвет текста футера rgba(255, 255, 255, 0.6) */
/* фон текста перед картинками "чем мы занимаемся" rgba(47, 48, 58, 0.8) */
